body{
    text-align: center;
    font-family: 'Arvo';
    background-color: #313b45;
    color: white;
}

h1 {
   
    font-size: 5rem;
    text-shadow: -3px 0 #c4342d, 0 3px #c4342d, 3px 0 #c4342d, 0 -3px #c4342d;
    
}

table{
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top: 10%;
}

table{
    margin-top: 6%;
}

th p {
    border-radius: 25px;
    margin-left: 30px;
    color: #f3456d ;
    font-size: 3rem;
    background-color: white;
    padding: 50px;
    height: 50px;
    width: 50px;
    border: 10px #4c5d6c solid;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.pressed {
    border: 10px #f3456d solid;
}

.w-button{
    background-image: url("../images/tom1.png");
}

.a-button{
    background-image: url("../images/tom2.png");
}

.s-button {
    background-image: url("../images/tom3.png");
}

.d-button {
    background-image: url("../images/tom4.png");
}

.j-button {
    background-image: url("../images/snare.png");
}

.k-button {
    background-image: url("../images/crash.png");
}

.l-button {
    background-image: url("../images/kick.png");
}